# Airflow 관련 제외 대상
plugins/
config/
airflow.db
.env

# Python 관련 제외 대상
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class
.venv/
venv/
*.egg-info/

# IDE
.vscode/settings.json
.idea/
*.swp
*.swo
*~

# Docker 관련
postgres-db-volume/

# Git 관리에서 제외할 목록
logs/
*.log